<!-- <body>
	<nav class="navbar navbar-inverse" th:fragment="navbar">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">SI Kependudukan</a>
			</div>

			<ul class="nav navbar-nav">
				<li
					th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"><a
					href="@{/}">Home</a></li>
				<li
					th:classappend="${#httpServletRequest.getRequestURI() == '/search' ? 'active':''}"><a
					href="@{/search}">Cari Data</a></li>
			</ul>
		</div>
	</nav>

</body> -->

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="navbar">
		<a class="navbar-brand" th:href="@{/}">SI Kependudukan</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link"
					th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"
					th:href="@{/}">Home</a> 
				<a class="nav-item nav-link"
					th:classappend="${#httpServletRequest.getRequestURI() == '/penduduk/cari' ? 'active':''}"
					th:href="@{/penduduk/cari}">Cari Data</a> 
				<a class="nav-item nav-link"
					th:classappend="${#httpServletRequest.getRequestURI() == '/penduduk/tambah' ? 'active':''}"
					th:href="@{/penduduk/tambah}">Tambah Penduduk</a> 
				<a class="nav-item nav-link"
					th:classappend="${#httpServletRequest.getRequestURI() == '/keluarga/tambah' ? 'active':''}"
					th:href="@{/keluarga/tambah}">Tambah Keluarga</a> 
			</div>
		</div>
	</nav>
</body>