<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="navbar">
		<a class="navbar-brand" th:href="@{/}">ProdporS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link"
					th:classappend="${#httpServletRequest.getRequestURI() == '/product/viewall' ? 'active':''}"
					th:href="@{/product/viewall}">Daftar Produk</a> 
				<!-- <a class="nav-item nav-link"
					th:classappend="${#httpServletRequest.getRequestURI() == '/penduduk/tambah' ? 'active':''}"
					th:href="@{/about}">Tentang</a> -->
			</div>
		</div>
	</nav>
</body>