<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/head :: head"></div>
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<div class="container">
		<br/>
		<h1>Sistem Informasi Kependudukan Online Provinsi DKI Jakarta</h1>
		<p style="color: grey">Selamat datang di Sistem Informasi Kependudukan
			Online Provinsi DKI Jakarta</p>
		<hr />

		<h3>Lihat Data Penduduk Berdasarkan NIK</h3>
		<form class="form-group" action="/penduduk" method="GET">
			<label>Masukkan Nomor Induk Kependudukan</label> <input type="text"
				class="form-control col-4" name="nik"/>
			<button type="submit" class="btn btn-primary">Lihat</button>
		</form>
		<hr />

		<h3>Lihat Data Keluarga Berdasarkan NKK</h3>
		<form class="form-group" action="/keluarga" method="GET">
			<label>Masukkan Nomor Kartu Keluarga</label> <input type="text"
				class="form-control col-4" name="nkk"/>
			<button type="submit" class="btn btn-primary">Lihat</button>
		</form>
		
		<hr />
	</div>
</body>

<footer>
	<div th:replace="fragments/footer :: footer"></div>
</footer>
</html>