<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/head :: head"></div>
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<div class="container">
		<br />
		
		<div class="row">
			<div class="col-sm-10">
				<h3 th:text="'Daftar Seluruh Produk'">Judul Halaman</h3>
			</div>
			<div class="col-sm-2">
				<a th:href="'/product/add'">
					<button class="btn btn-primary"><span class="fa fa-fw fa-plus"></span>Tambah Produk</button>
				</a>
			</div>
		</div>
		
		<hr />
		
		<div th:if="${stat=='success'}" class="alert alert-success">
			<strong>Sukses!</strong> Data produk berhasil ditambahkan!
		</div>
		<br />
		
		<table style="width: 100%" class="table table-hover" id="table">
			<thead>
				<tr>
					<th class="text-center" style="width: 5%;" th:text="'No.'">No.</th>
					<th class="text-center" style="width: 20%;" th:text="'Nama Produk'">Nama Produk</th>
					<th class="text-center" style="width: 30%;" th:text="'Deskripsi Produk'">Deskripsi Produk</th>
					<th class="text-center" style="width: 20%;" th:text="'Kategori Produk'">Kategori Produk</th>
					<th class="text-center" style="width: 15%;" th:text="'Pabrikan'">Pabrikan</th>
					<th class="text-center" style="width: 10%;" th:text="'Aksi'">Aksi</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produk, iterationStatus: ${listProduk}">
					<td class="text-center" th:text="${iterationStatus.count}">1</td>
					<td class="text-left"><a th:text="${produk.nama}" th:href="'/product/view/' + ${produk.id}">Nama</a></td>
					<td class="text-left" th:text="${produk.deskripsi}">Deskripsi</td>
					<td class="text-center" th:text="${produk.kategori}">Kategori</td>
					<td class="text-center" th:text="${produk.pabrikan}">Pabrikan</td>
					<td class="text-center"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

<footer>
	<br/>
	<div th:replace="fragments/footer :: footer"></div>
</footer>
</html>