<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/head :: head"></div>
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<div class="container">
		<br />
		<h3 th:text="'Detail Produk'">Detail Produk</h3>
		<hr />
		<table style="width: 100%;" class="table">
			<tr>
				<th style="width: 30%">Nama Produk</th>
				<td th:text="${produk.nama}">Nama</td>
			</tr>
			<tr>
				<th style="width: 30%">Deskripsi</th>
				<td th:text="${produk.deskripsi}">Deskripsi</td>
			</tr>
			<tr>
				<th style="width: 30%">Kategori</th>
				<td th:text="${produk.kategori}">Kategori</td>
			</tr>
			<tr>
				<th style="width: 30%">Pabrikan</th>
				<td th:text="${produk.pabrikan}">Pabrikan</td>
			</tr>
			<tr>
				<th style="width: 30%">Berat</th>
				<td th:text="${produk.berat} + ' kg'">Berat (kg)</td>
			</tr>
			<tr>
				<th style="width: 30%">Harga</th>
				<td th:text="'Rp ' + ${produk.harga}">Rp Harga</td>
			</tr>
			<tr>
				<th style="width: 30%">Tahun Produksi</th>
				<td th:text="${produk.tahunProduksi}">Tahun Produksi</td>
			</tr>
			<tr>
				<th style="width: 30%">Jumlah Stok</th>
				<td th:text="${produk.jumlahStok}">Jumlah Stok</td>
			</tr>
			<tr>
				<th style="width: 30%">Kondisi</th>
				<td th:text="${produk.kondisi}">Kondisi</td>
			</tr>
			<tr>
				<th style="width: 30%">Status</th>
				<td th:text="${produk.flagAktif?'Aktif':'Tidak Aktif'}">Status</td>
			</tr>
		</table>
		
		<br/>
		<div class="row">
			<div class="col-sm-2">
				<a th:href="'/product/update/'+${produk.id}">
					<button class="btn btn-primary">Ubah Data Produk</button>
				</a>
			</div>
			<div class="col-sm-2" th:if="${produk.flagAktif}">
				<a th:href="'/product/deactive/'+${produk.id}">
					<button class="btn btn-danger">Nonaktifkan Produk</button>
				</a>
			</div>
		</div>
	</div>
</body>

<footer>
	<br/>
	<div th:replace="fragments/footer :: footer"></div>
</footer>
</html>